.d3-chart {
  background-color: white;
}
.d3-chart-g .xaxis path,
.d3-chart-g .yaxis path,
.d3-chart-g .xaxis line,
.d3-chart-g .yaxis line {
  fill: none;
  stroke: black;
  stroke-width: 1;
  shape-rendering: crispEdges;
}
.d3-chart-g .xaxis text,
.d3-chart-g .yaxis text {
  font-size: 12px;
  text-anchor: middle;
}
.vertical-line {
  fill: none;
  stroke: #B5B5B5;
}
.circle-dot {
  fill: #1e90ff;
}
.tooltip {
  left: 100px;
  top: 20px;
  position: absolute;
  background-color: white;
  opacity: .9;
}
.tooltip tr {
  border: 1px solid #ccc;
}
.tooltip th {
  background-color: #aaa;
  text-align: left;
  color: #fff;
  padding: 2px 5px;
  font-size: 12px;
  font-weight: 500;
}
.tooltip td {
  background-color: white;
  border-left: 1px dotted #eeeeee;
  font-size: 13px;
  padding: 3px 6px;
  color: #222;
}
.tooltip td span {
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-right: 3px;
  border-radius: 8px;
}
.chart-title {
  font-size: 12px;
  background-color: #B5B5B5;
  padding-left: 10px;
  color: white;
  font-weight: 500;
}
.chart-title span.icon {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 8px;
  margin-right: 3px;
}
.chart-title span.unit {
  font-size: 9px;
  margin-left: 3px;
}
